body {

    font-family: 'DM Serif Display', serif;

    max-width: 99%;
    margin: auto;
}

h1 {
    font-weight: 900;
    font-size: 46px;
}

.top {
    text-align: center;
    padding-top: 12%;
    color: rgb(255, 252, 252);
    background-image: url(imeage/help-peple.webp);
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 600px;

}

.click {
    text-decoration: none;
    padding: 16px 18px;
    background: rgb(255, 105, 79);
    border-radius: 15px;
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;

}

.fast-section {
    padding-top: 6%;
    text-align: center;
    width: 70%;
    margin: auto;
}

h2 {

    font-weight: 700;
    font-size: 36px;
}

.main-div {
    display: flex;


}

.one-fivet {
    padding: 14px 28px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 3%;
    background-color: rgb(245, 252, 250);
    color: gray;
}

#one-fivet-div2 {
    border: 3px solid tomato;
    background-color: rgb(252, 229, 225);
    color: tomato;

}

h3 {
    font-size: 2rem;

}

.second-section {
    text-align: center;
    padding-top: 8rem;
    max-width: 90%;
    margin: auto;
}

.one-thard {
    margin: 1rem;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 7px;
}

#one-thard-div1 {
    background-color: aqua;
    padding: 12px;
}

#one-thard-div2 {
    background-color: beige;
    padding: 12px;
}

#one-thard-div3 {
    background-color: rgb(252, 221, 183);
    padding: 12px;

}

.thard-section {
    width: 80%;
    margin: auto;
    padding-top: 4rem;

}

.heaf {
    width: 50%;
    text-align: justify;
    padding: 1rem;
    margin-bottom: 4rem;
}


.heaf img {
    width: 98%;
    border-radius: 7px;
}

.section-four {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.box {
    background-color: antiquewhite;
    padding: 60px 80px;
}

#box-1 {
    background-color: gainsboro;
    padding: 10px 30px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}

#box-2 {
    background-color: rgb(255, 179, 165);
    color: tomato;
    padding: 10px 14px;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 6px;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}