body {
    font-family: 'Bitter', serif;
    font-family: 'DM Serif Display', serif;

    max-width: 100%;
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 46px;
}

.top {
    text-align: center;
    padding-top: 12%;
    color: rgb(255, 252, 252);
    background-image: url(imeage/help-peple.webp);
    background-repeat: no-repeat;
    background-size: 1320px;
    height: 600px;

}

.click {
    text-decoration: none;
    padding: 16px 18px;
    background: rgb(255, 105, 79);
    border-radius: 15px;
    color: aliceblue;
    font-weight: 700;
    font-size: 18px;
}

.fast-section {
    padding-top: 6%;
    text-align: center;
    width: 70%;
    margin: auto;
}

h2 {

    font-weight: 700;
    font-size: 36px;
}

.main-div {
    display: flex;


}

.one-fivet {
    padding: 14px 28px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 3%;
    background-color: rgb(245, 252, 250);
    color: gray;
}

#one-fivet-div2 {
    border: 3px solid tomato;
    background-color: rgb(252, 229, 225);
    color: tomato;

}

h3 {
    font-size: 2rem;

}

.second-section {
    text-align: center;
    padding-top: 8rem;
    max-width: 90%;
    margin: auto;
}

.one-thard {
    margin: 1rem;
    box-sizing: border-box;
    text-align: justify;
    border-radius: 7px;
}

#one-thard-div1 {
    background-color: aqua;
    padding: 12px;
}

#one-thard-div2 {
    background-color: beige;
    padding: 12px;
}

#one-thard-div3 {
    background-color: rgb(252, 221, 183);
    padding: 12px;

}